{% extends 'template.twig' %}

{% block content %}
    <h2 class="subtitle">포스트 작성</h2>

    {% embed 'posts/editor.twig' with {action:path_for('posts.update', {postId:post.id})} %}
        {% block buttons %}
            <button type="submit" class="btn-flat btn-flat--submit">수정하기</button>
            <a href="{{ backUrl() }}" class="btn-flat btn-flat--cancel">취소</a>
        {% endblock %}
    {% endembed %}

    {% include 'posts/file-upload.twig' %}
{% endblock %}